/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*----Global----*/

html {
	height: 100%;
}

body {
	height: 100%
}

 /*----Nav----*/

nav#globalNav.navbar.navbar-inverse.navbar-fixed-left {
 	height: 100%;
 	width: 18%;
 	padding-left: 0%;
 	padding-right: 0%;
}

#globalNav {
  position:fixed; // keep fixed to window
  padding: 0%;
  top: 0%; //position to top
  left: 0%; // position to left of window
}

#navbarHolder {
	maring-left:0;
	padding-left:0;
}

.navbarList {
	width:100%;
	text-align: center;
}

#titanic {
	float: none;
}

.scrollbox {
	width:108%;
	height: 230px;
	border:1px solid #9D9D9D;
	color:#eee;
	overflow:auto;
	padding-left:5%;
	margin-right: 0%;
	padding-right:0%;
}

#right {
	position:relative;
	margin-left:18%;
}












