/*// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.wineTraits {
	color:white;
	text-align: center;
}

#winelistTitle {
	font-family: 'Megrim', cursive;
	margin-top: 8%;
	font-size: 60px;
	text-align: center;
	color:#eee;
}

#winelist {
	list-style-type: none;
	overflow:auto;
	font-family: 'Megrim', cursive;
}

#newWineTitle {
	font-family: 'Megrim', cursive;
	margin-top: 8%;
	font-size: 60px;
	text-align: center;
	color:#eee;
}

.newWine {
	text-align: center;
	color: #eee;
}

.singleWineTraits {
	font-size: 40px;
	font-family: 'Megrim', cursive;
	color:white;
	text-align: center;
}

.infoForm {
	text-align: center;
	color:#eee;
}

#infoSubmitButton {
	color: #000;
}

.submittedInfos {
	list-style-type: none;
	text-align: center;
	font-family: 'Megrim', cursive;
	color:#fff;
	font-size:30px;
}


















