<header>
	<nav id="globalNav" class="navbar navbar-inverse navbar-left navbar-fixed-left">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Wine Website</a>
			</div>	
	  	<ul class="nav navbar-nav navbar-right">
		    <li><a href="#">Menu 1</a></li>
		    <li><a href="#">Menu 2</a></li>
		    <li><a href="#">Menu 3</a></li>
		    <li><a href="#">Menu 4</a></li>
		  </ul>
	  	<ul class="nav navbar-nav navbar-right">
			  <li><a href="#">Log in</a></li>
			  <li><a href="#">Sign up</a></li>
			</ul>
			<ul class="scrollbox">
			  <div>Feed:
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus orci tincidunt, dignissim odio a, dictum lacus. Nam eget erat posuere erat malesuada iaculis quis lobortis odio. Cras non ex dui. Phasellus id convallis purus. Vivamus aliquam leo at sapien fringilla, eu volutpat lacus interdum. Morbi vestibulum consectetur dolor, vitae convallis tellus vulputate non. Phasellus dictum luctus ligula. Mauris laoreet faucibus lorem non vulputate. Suspendisse eu fermentum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Nullam pharetra mi sed eros efficitur fringilla. Morbi finibus vestibulum augue at tincidunt. Vestibulum consectetur facilisis sagittis. Aenean et blandit augue. Morbi ut est vitae turpis porttitor dignissim. Mauris convallis dolor molestie mi dignissim, at mollis magna tincidunt. Suspendisse potenti. Vestibulum nec rutrum odio. Donec sed elit quis lorem placerat gravida. Quisque venenatis venenatis feugiat. Phasellus et enim faucibus, congue sapien ac, consectetur eros. Mauris quam lacus, porttitor in viverra non, fermentum sit amet ante. Nunc imperdiet vitae diam a interdum. Mauris a commodo elit. Ut vel quam tincidunt, vehicula mi eu, feugiat nisl. Vivamus vel pretium lorem.

Ut pulvinar viverra enim, in venenatis mi ultricies sit amet. Mauris nec metus eu leo efficitur maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut risus nec enim tristique fermentum. Mauris scelerisque sapien eu justo lacinia lobortis. Proin vel neque nulla. Proin sodales ante vel metus placerat, at aliquet nunc rutrum. Integer ac turpis eget lacus ultrices iaculis. Fusce et varius purus, consequat aliquet eros. Duis tincidunt ex eget varius sodales. Vivamus vulputate erat auctor nisi vehicula interdum. Donec condimentum ornare tempus. Donec eu interdum lacus. Vivamus sodales orci ut fermentum consectetur. Duis posuere est eu leo commodo vestibulum.

Integer aliquet enim vel felis sollicitudin vulputate. Fusce feugiat tempor augue, in varius neque sodales eu. Donec in mattis ex, sit amet porttitor justo. Nunc id ligula et mauris viverra laoreet. In imperdiet et dui quis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam scelerisque elit vel massa euismod, at imperdiet turpis tincidunt. Aenean non porttitor metus. Vivamus eleifend vel est in maximus. Donec a magna sed magna vulputate placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse eget venenatis libero. Sed ut dui tincidunt, rutrum libero id, lacinia tellus. Nunc condimentum diam vitae hendrerit tristique. Nulla hendrerit, dolor quis vestibulum facilisis, purus turpis tincidunt lectus, sit amet sollicitudin justo nulla eget ligula.
			  </div> </ul>
			  <ul class="scrollbox">
			  <div>Recents:
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus orci tincidunt, dignissim odio a, dictum lacus. Nam eget erat posuere erat malesuada iaculis quis lobortis odio. Cras non ex dui. Phasellus id convallis purus. Vivamus aliquam leo at sapien fringilla, eu volutpat lacus interdum. Morbi vestibulum consectetur dolor, vitae convallis tellus vulputate non. Phasellus dictum luctus ligula. Mauris laoreet faucibus lorem non vulputate. Suspendisse eu fermentum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Nullam pharetra mi sed eros efficitur fringilla. Morbi finibus vestibulum augue at tincidunt. Vestibulum consectetur facilisis sagittis. Aenean et blandit augue. Morbi ut est vitae turpis porttitor dignissim. Mauris convallis dolor molestie mi dignissim, at mollis magna tincidunt. Suspendisse potenti. Vestibulum nec rutrum odio. Donec sed elit quis lorem placerat gravida. Quisque venenatis venenatis feugiat. Phasellus et enim faucibus, congue sapien ac, consectetur eros. Mauris quam lacus, porttitor in viverra non, fermentum sit amet ante. Nunc imperdiet vitae diam a interdum. Mauris a commodo elit. Ut vel quam tincidunt, vehicula mi eu, feugiat nisl. Vivamus vel pretium lorem.

Ut pulvinar viverra enim, in venenatis mi ultricies sit amet. Mauris nec metus eu leo efficitur maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut risus nec enim tristique fermentum. Mauris scelerisque sapien eu justo lacinia lobortis. Proin vel neque nulla. Proin sodales ante vel metus placerat, at aliquet nunc rutrum. Integer ac turpis eget lacus ultrices iaculis. Fusce et varius purus, consequat aliquet eros. Duis tincidunt ex eget varius sodales. Vivamus vulputate erat auctor nisi vehicula interdum. Donec condimentum ornare tempus. Donec eu interdum lacus. Vivamus sodales orci ut fermentum consectetur. Duis posuere est eu leo commodo vestibulum.

Integer aliquet enim vel felis sollicitudin vulputate. Fusce feugiat tempor augue, in varius neque sodales eu. Donec in mattis ex, sit amet porttitor justo. Nunc id ligula et mauris viverra laoreet. In imperdiet et dui quis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam scelerisque elit vel massa euismod, at imperdiet turpis tincidunt. Aenean non porttitor metus. Vivamus eleifend vel est in maximus. Donec a magna sed magna vulputate placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse eget venenatis libero. Sed ut dui tincidunt, rutrum libero id, lacinia tellus. Nunc condimentum diam vitae hendrerit tristique. Nulla hendrerit, dolor quis vestibulum facilisis, purus turpis tincidunt lectus, sit amet sollicitudin justo nulla eget ligula.
			  </div> </ul>
	  	</ul>
	  	<ul>

	  	</ul>
		</div>
	</nav>
</header>