/*// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.wineTraits {
	color:black;
	text-align: center;
}

#winelistTitle {
	font-family: 'Megrim', cursive;
	margin-top: 8%;
	font-size: 60px;
	text-align: center;
	color:#eee;
}

// #winelist li{
// 	list-style-type: none;
// 	overflow:auto;
// 	font-family: 'Megrim', cursive;
// }

#newWineTitle {
	font-family: 'Megrim', cursive;
	margin-top: 8%;
	font-size: 60px;
	text-align: center;
	color:#eee;
}

.newWine {
	text-align: center;
	color: #eee;
}

.singleWineTraits {
	font-size: 40px;
	font-family: 'Megrim', cursive;
	color:white;
	text-align: center;
}

.infoForm {
	text-align: center;
	color:#eee;
}

#infoSubmitButton {
	color: #000;
}

.submittedInfos {
	list-style-type: none;
	text-align: center;
	font-family: 'Megrim', cursive;
	color:#fff;
	font-size:30px;
}

#right {
	margin-left: 18%;
}

.card {
	max-height: 316px;
	max-width: 40%;
	float:left;
	list-style-type: none;	
  background:#FFF;
  border:1px solid #AAA;
  border-bottom:3px solid #7f8c8d;
  padding:0px;
  margin:15px;
  overflow:hidden;
	font-family: 'Megrim', cursive;
}

div .card {
	background-color: #95a5a6;
}

.card p {
  margin:0px;
  padding:10px;
}

.float-left .card {
  float:left;
  width: 300px;  
  height:270px;
}



















